# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  branches:
    include:
    - '*'
  tags:
    exclude:
    - '*'
    
pool: 
  vmImage: vs2017-win2016

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'
  
- script: echo System.PullRequest.SourceBranch value is $(System.PullRequest.SourceBranch)
  displayName: 'System.PullRequest.SourceBranch value'

- script: echo System.PullRequest.IsFork value is $(System.PullRequest.IsFork)
  displayName: 'System.PullRequest.IsFork value'
